
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #0a2540, #135895);
  text-align: center;
  line-height: 1.6;
  font-size: xx-large;

}

.container {
  width: 100%;
  padding: 20px;
}


h1, h2 {
  color: white;
  margin-bottom: 30px;
}

h2 {
  margin-top: 10px;
}

h3,
h2.obs {
  color: #ffcc4d;
  margin-top: 10px;
}

p {
  color: white;
  padding: 10px 20px;
}


a.redes {
  color: #ffcc4d;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.2s ease;
}

a:hover {
  text-decoration: underline;
  color: #ffcd4dd7;
}

hr {
  border: none;
  height: 1px;
  background: #ffcc4d;
  box-shadow: 0 0 20px #ffcc4d;
  margin: 30px 0;
  width: 100%;
}


p.agradecimento {
  margin: 15px;
  color: #ffcd4ddf;
  font-style: italic;
  font-family: 'Lucida Sans',
               'Lucida Sans Regular',
               'Lucida Grande',
               'Lucida Sans Unicode',
               Geneva,
               Verdana,
               sans-serif;
}


.destaque {
  color: #ffcc4d;
  text-decoration: underline;
  font-weight: bold;
}


#eu {
  height: 50px;
  display: block;
  margin: 20px auto;
}


.wave {
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@media (max-width: 768px) {

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 15px;
  }

  .container {
    padding: 15px;
  }

}