html, body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(to bottom, #0a2540 30%, #135895);
  text-align: center;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;

}

h1, h2 {
  color: white;
  margin: 0;
  margin-bottom: 40px;
}

h2 {
  margin-top: -30px;
}

h3,h2.obs {
    color: #ffcc4d;
    margin-top: 5px;
}

p{
  color: white;
  padding: 10px;
}

a {
  color: #ffcc4d;
  text-decoration: none;
  margin: 25px;
}


hr {
  box-shadow: 0 0px 20px #ffcc4d;
}

p.agradecimento {
  margin: 15px;
  color: #ffcd4db5;
  font-style: italic;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 a:hover {
  text-decoration: underline;
  color:#ffcd4dd7 ;
}


.destaque{
    color:#ffcc4d ;
    text-decoration: underline;
    font-weight: bolder;
}

.wave {
  display: inline-block;
  animation: wave 1.5s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
